{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}渡辺さんのクイズ{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'top.css' %}">

</head>

<body>
      <header class="app-header">
    <div class="header-inner">
      <span class="app-logo">🍖 肉クイズ</span>
      <nav class="header-nav">
        <a href="/">トップ</a>
        <a href="{% url 'judge:input' %}">クイズ</a>
      </nav>
    </div>
  </header>

    <main>
        {% block content %}
        <!-- 各ページの中身がここに入る -->
        {% endblock %}
    </main>

    <footer class="app-footer">
        <p>© 2025 渡辺さんの肉クイズ</p>
        <p class="footer-sub">Made with 🍖 & Django</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {% block script %}{% endblock %}
</body>
</html>
