{% extends "base.html" %}
{% load socialaccount %}

{% block title %}問題ページ{% endblock %}
{% block content %}
<div class="top-container">
  <h1 class="title">🍖 渡辺さんの肉クイズ 🍗</h1>
  <p class="desc">
    渡辺さんは「鳥」が苦手。<br>
    でも、食べられるお肉もあるらしい？<br>
    あなたは見分けられるかな？
  </p>
  <div class="btn" id="intro-text">渡辺さんとは</div>
  <p id="text" style="display:none;">
    ・肉が嫌い。(特に鶏肉が嫌い、動く鳥も嫌い)<br>
    ・キムタクが好き<br>
    ・スムージーがムーブ<br>
    ・野菜が好き<br>
    ・ヴィーガンと間違われる<br>
  </p><br>
  <a href="{% url 'judge:input' %}">クイズを始める</a>
  <a href="{% provider_login_url 'google' %}">Googleでログイン</a>
</div>
{% endblock %}
