
/* judge/static/style.css */
body {
    background-color: #fff3f3;
    font-family: "Hiragino Sans", sans-serif;
}
.h1 {
    color: #d6336c;
}


.btn {
  display: inline-block;
  cursor: pointer;
  padding: 12px 80px;
  background-color: #5dca88;
  box-shadow: 0px 5px #279C56;
  border-radius: 3px;
  color: #b42a2a;
  font-size: 12px;
}













