<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>渡辺さんの肉か肉じゃないか</title>
</head>
<body>
{% extends "base.html" %}

    {% block title %}問題ページ{% endblock %}

{% block content %}
    
    <p>渡辺さんは「{{ food }}」が好きだと思いますか？</p>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="food_name" value="{{ food }}">
    
    <button type="submit" name="answer" value="好き">好きだと思う</button>
    <button type="submit" name="answer" value="嫌い">嫌いだと思う</button>
</form>
</body>
</html>
{% csrf_token %}
{% endblock %}       
