<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>渡辺さんの肉か肉じゃないか</title>
</head>
<body>
{% extends "base.html" %}

    {% block title %}問題ページ{% endblock %}

{% block content %}
<h2>{{ current }}問目 / {{ total }}問</h2>
<p>{{ food }} は渡辺さんにとって？</p>

<form method="post">
  {% csrf_token %}
  <button type="submit" name="answer" value="好き">好き</button>
  <button type="submit" name="answer" value="嫌い">嫌い</button>
</form>

<a href="{% url 'judge:top' %}">▶ TOPへ</a>
</body>
</html>
{% csrf_token %}
{% endblock %}       
